name: Latest blog post workflow
on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Pull in Version One Newsletter posts
        uses: gautamkrishnar/blog-post-workflow@v1
        with:
          feed_list: "https://rss.beehiiv.com/feeds/sUTKKYLHr2.xml"
          max_post_count: 5
          committer_username: "blog-post-bot"
          committer_email: "blog-post-bot@example.com"
          commit_message: "Updated with latest Version One Newsletter posts"
          template: '- [$title]($url)'
          gh_token: ${{ secrets.GITHUB_TOKEN }}


